<!-- start header -->
<header >
  <nav>
      <div class="logo">
          <a href="#">
              <img src="../../../assets/images/bakery-color.png" alt="logo Bakery" title="Bakery">
          </a>
      </div>

      <div class="text">
          <ul>
              <li> <a href="#" class="active"> home </a> </li>
              <li> <a href="#about"> about </a> </li>
              <li> <a href="#location">location </a> </li>
              <li> <a href="#Gallery"> gallery </a> </li>
              <li> <a href="#Contact"> contact </a> </li>
              <li> <a href="#Bolg"> blog </a> </li>
          </ul>
      </div>
  </nav>

  <div class="clear"></div>

  <section>
      <p>Welcome to</p>
      <h1>family bakery</h1>
      <p>We're the biggest, best equipped and most advanced Bakery in the greater Los Angeles area.</p>
      <button>learn more</button>
      <button>contact us</button>
  </section>
</header>
<!-- end header -->
