<!-- start gallery -->
<section class="gallery" id="Gallery">
  <h3 class="specail-heading">Our Baking</h3>
  <p>Learn more about them. We have worked truly hard to make them perfect for every use</p>

  <article>

      <div class="box">
          <div class="image">
              <img src="../../../assets/images/ben-garratt-134774-600x500.jpg" alt="image_1 section gallery"/>
          </div>
          <h4>Superior Breads</h4>
          <p>
              Proin interdum, ante ut sollicitudin commodo, tellus quam sagittis libero,
              at semper mauris velit a velit. Phasellus commodo turpis et lacinia posuere
          </p>
      </div>

      <div class="box">
          <div class="image">
              <img src="../../../assets/images/stas-ovsky-123540-600x500.jpg" alt="image_2 section gallery"/>
          </div>
          <h4>Bagels</h4>
          <p>
              Proin interdum, ante ut sollicitudin commodo, tellus quam sagittis libero,
              at semper mauris velit a velit. Phasellus commodo turpis et lacinia posuere
          </p>
      </div>

      <div class="box">
          <div class="image">
              <img src="../../../assets/images/clem-onojeghuo-206832-600x500.jpg" alt="image_3 section gallery"/>
          </div>
          <h4>Cookies</h4>
          <p>
              Proin interdum, ante ut sollicitudin commodo, tellus quam sagittis libero,
              at semper mauris velit a velit. Phasellus commodo turpis et lacinia posuere
          </p>
      </div>

  </article>
</section>
<!-- end gallery -->
