<!-- start blog -->
<section class="blog" id="Bolg">
  <article>

      <div class="box">
          <h4>About Us</h4>
          <p>
              I am text block. Click edit button to change this text.
              Lorem ipsum dolor sit amet, consectetur. I am text block. Click edit button to change this text.
              Lorem ipsum dolor sit amet, consectetur.
          </p>
          <p>
              We are the champions! We are the most amazing theme of all time, yeah
          </p>
      </div>

      <div class="box">
          <h4>Why we are special?</h4>
          <ul>
              <li>Our magical recipe</li>
              <li>We care about environment.</li>
              <li>We are trusted by hundreds of clients.</li>
              <li>Social media loves us!</li>
              <li>This list is super easy to create.</li>
          </ul>
      </div>

      <div class="box">
          <h4>Opening Hours</h4>
          <ul>
              <li>Monday 10AM-9PM</li>
              <li>Tuesday 10AM-9PM</li>
              <li>Wednesday 10AM-9PM</li>
              <li>Thursday 10AM-10PM</li>
              <li>Friday 10AM-10PM</li>
              <li>Weekends 10AM-11PM</li>
          </ul>
      </div>

      <div class="box">
          <h4>Contact Details</h4>
          <ul>
              <li>Manchester Road 123-78B, Silictown 7854MD, Great Country</li>
              <li>461234567</li>
              <li>hello&#64;sitename.com</li>
              <li>http://www.sitename.com</li>
          </ul>
      </div>
  </article>
</section>
<!-- end blog -->
