*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

:root{
  --main-color:rgb(177, 139, 80) ;
}

.clear{
  clear: both;
}

/* start specail-heading */
.specail-heading{
  font-family: "Dancing Script", cursive;
  font-size: 85px;
  padding: 40px;
  cursor: pointer;
  text-align: center;
  color: var(--main-color) ;
  font-weight: 800;
  text-transform: capitalize;
  animation: move 2s infinite linear;
}
.specail-heading+p{
  margin-top: 10px;
  color: #777;
  text-align: center;
}

  @keyframes move {
    0%{
          color: var(--main-color) ;
        }
        50%{
          color: rgb(217, 196, 141);
          text-shadow: 2px 2px 2px rgb(175, 150, 9);
        }
        100%{
          color: var(--main-color);;
        }
      }
/* end  specail-heading */
